#experiencia {
  display: flex;
  padding: 10px 142px 20px 50px;
  justify-content: space-between;
  background: var(--color-secondary);
  color: var(--color-primary);
  align-items: center;

  h1 {
    display: flex;
    word-break: break-all;
    font-size: 2.5rem;
    max-width: 1ch;
    text-transform: uppercase;
    text-align: center;
  }
}
.card {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 455px;
  outline: 2px dashed var(--color-primary);
  border-radius: 16px;
  align-items: center;
  justify-content: end;
  position: relative;
  opacity: 0.7;
  flex-wrap: wrap;

  img {
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    backdrop-filter: blur(2px);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2) 80%),
      linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5) 50%);
    position: absolute;
    border-radius: 16px;
    padding: 20px;
    gap: 5px;
    z-index: 1;

    h2 {
      font-size: 2.75rem;
      text-align: center;
    }

    p {
      display: flex;
      justify-content: flex-end;
      font-size: 2rem;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;
      li {
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        list-style-type: disc;
        margin: 0 16px;
      }
    }
  }
}

@media (max-width: 800px) {
  #experiencia {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    h1 {
      display: block;
      word-break: normal;
      max-width: 100%;
      font-size: 3rem;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 5px;
    }

    .card {
      height: 100%;
    }
  }
}
