:root {
  --color-primary: #dfd8c5;
  --color-secondary: #304687;
  --color-details: #c9960a;
  --color-card: #d2c39c;

  --color-font-primary: #57440f;
  --color-font-secondary: #eaead7;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  gap: 40px;
  color: var(--color-secondary);
}

h1 {
  font-family: "Playfair", serif;
  font-size: 7rem;
  line-height: 1;
  letter-spacing: 0.5rem;
}

p {
  font-size: 1.25rem;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--color-secondary);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
}
