header {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
  background: var(--color-primary);
  color: var(--color-secondary);
  align-items: center;
  margin: 0 auto;
  padding: 40px 20px;
}
.header .navegacao ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  flex-wrap: wrap;
  gap: 10px;
}
.header .navegacao ul a {
  display: block;
  color: var(--color-secondary);
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 3px dashed transparent;
  margin: 5px 20px;
}
.header .navegacao ul a:hover {
  border-bottom: 3px dashed var(--color-details);
  transition: border 1.5s;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
}
