.header {
  display: flex;
  /* max-width: 1160px; */
  background: var(--color-primary);
  color: var(--color-secondary);
  align-items: center;
  margin: 0 auto;
  padding: 40px 10%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  justify-content: space-between;

  .navegacao ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    a {
      color: var(--color-secondary);
      font-size: 1.25rem;
      font-weight: bold;
      border-bottom: 3px dashed transparent;
    }

    a:hover {
      border-bottom: 3px dashed var(--color-details);
      transition: border 1.5s;
    }
  }
}
