.introducao {
  display: grid;
  max-width: 1150px;
  justify-content: space-between;
  grid-template-columns: 1fr 0.5fr 1fr;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.introducao-info {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  gap: 20px;
}
.introducao-info p {
  font-size: 2rem;
  line-height: 3rem;
}

.introducao img {
  display: block;
  max-width: 25rem;
  object-fit: cover;
  justify-self: flex-end;
  grid-column: 3;
}

.introducao::before {
  grid-row: 1;
  content: "";
  height: 100%;
  display: block;
  grid-column: 2;
  justify-self: center;
  border-left: 3px dashed var(--color-secondary);
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 3rem;
  }

  .introducao::before {
    display: none;
  }

  .introducao-info {
    grid-column: auto;
    grid-row: 1;
  }

  .introducao img {
    grid-row: 3;
    grid-column: auto;
    justify-self: center;
  }

  .introducao::before {
    display: block;
    content: "";
    height: 0;
    width: 100%;
    grid-column: auto;
    grid-row: 2;
    border-bottom: 3px dashed var(--color-secondary);
    justify-self: center;
  }
}
