#projetos {
  background: var(--color-secondary);

  .conteudo {
    display: flex;
    color: var(--color-primary);
    align-items: center;
    gap: 40px;
    justify-content: center;
    padding: 40px 40px;
  }

  h1 {
    display: flex;
    word-break: break-all;
    font-size: 2.5rem;
    max-width: 1ch;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
  }
}

.projetos-card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  max-width: 360px;
  height: 100%;
  gap: 20px;

  .projetos-body {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  img {
    outline: 2px dashed var(--color-primary);
    height: 252px;
    object-fit: cover;
    border-radius: 1rem;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    h2 {
      font-size: 2rem;
      line-height: 1.2;
    }

    p {
      font-size: 1.25rem;
      color: rgba(234, 234, 215, 0.7);
    }
  }

  .cargo-data {
    display: flex;
    gap: 10px;
    justify-content: flex-end;

    p {
      font-size: 1rem;
      color: var(--color-font-secondary);
    }

    .card-data::before {
      content: "";
      padding: 0 5px;
      border-left: 2px dashed rgba(234, 234, 215, 0.7);
    }
  }
}

/* @media (max-width: 800px) {
  #projetos {
    .conteudo {
      flex-direction: column;
      gap: 20px;
    }

    h1 {
      display: block;
      word-break: normal;
      max-width: 100%;
      font-size: 3rem;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 5px;
    }

    .projetos-card {
      height: 160px;
      width: 100%;
    }

    img {
      width: 100%;
    }

    .info {
      width: calc(100% - 30px);
      padding: 15px;
    }
  }
}

@media (max-width: 1500px) {
  #projetos {
    gap: 20px;
    padding: 20px 40px;
  }
} */
