#projetos {
  background: var(--color-secondary);

  .conteudo {
    display: flex;
    color: var(--color-primary);
    align-items: center;
    gap: 40px;
    justify-content: center;
    padding: 40px 40px;
  }

  h1 {
    display: flex;
    word-break: break-all;
    font-size: 2.5rem;
    max-width: 1ch;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
  }
}

.projetos-card {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  max-width: 360px;
  gap: 20px;
  align-items: start;

  img {
    outline: 2px dashed var(--color-primary);
    height: 252px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.2;
  }

  p {
    font-size: 1.25rem;
    color: rgba(234, 234, 215, 0.7);
  }

  .cargo-data {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-self: end;

    p {
      font-size: 1rem;
      color: var(--color-font-secondary);
    }

    .card-data::before {
      content: "";
      padding: 0 5px;
      border-left: 2px dashed rgba(234, 234, 215, 0.7);
    }
  }
}

@media (max-width: 1210px) {
  .projetos-card {
    display: grid;
    grid-template-rows: 1fr 1.1fr;
    gap: 20px;
  }
}

@media (max-width: 800px) {
  #projetos {
    .conteudo {
      flex-direction: column-reverse;
      gap: 20px;
      padding: 10px 20px;
    }

    h1 {
      display: block;
      word-break: normal;
      max-width: 100%;
      font-size: 3rem;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 5px;
    }

    .projetos-card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      max-width: 650px;
      align-items: center;

      img {
        max-height: 200px;
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
          align-self: center;
        }
      }
    }
  }
}
