@import "./header.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
  --color-primary:#DFD8C5;
  --color-secondary:#304687;
  --color-details:#C9960A;
  --color-card:#D2C39C;
  
  --color-font-primary:#57440F;
  --color-font-secondary:#EAEAD7;
}

body{
  background-color: var(--color-primary);
  font-family: 'Source Sans 3',sans-serif;
}
h1,
h2,
h3,body {
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  text-decoration: none;
}
img{
display: block;
max-width: 100%;
}